

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: sans-serif;

  &.home {
    canvas {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 18rem;
      height: 18rem;
      z-index: 2;
      background: black;
    }
  }

  &.world {
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; 
      height: 100%;
    }

  }
}

@import "./ui/score.scss";
@import "./ui/menu.scss";