.home {
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 5rem 0;
    color: #f9d000;
    font-size: 7rem;
    text-align: center;
  }
  &__start {
    position: absolute;
    bottom: 10%;
    width: calc(100% - 20rem);
    left: 10rem;
    padding: 1.5rem 0;
    background-color: #009746;
    color: black;
    text-align: center;
    font-size: 4rem;
    &:hover {
      background-color: #0044a8;
    }
  }
  &__button  {
    position: absolute;
    top: calc(50% - 15rem);
    width: 0;
    height: 0;
    &.previous {
      left: 5rem;
      border-style: solid;
      border-width: 15rem 5rem 15rem 0;
      border-color: transparent #009445 transparent transparent;
      &:hover {
        border-color: transparent #0044a8 transparent transparent;
      }
    }
    &.next {
      right: 5rem;
      border-style: solid;
      border-width: 15rem 0 15rem 5rem;
      border-color: transparent transparent transparent #009445;
      &:hover {
        border-color: transparent transparent transparent #0044a8;
      }
    }
  }
}
