.home {
  &__title {
    width: 15rem;
    margin: 6rem auto;
    font-size: 2rem;
    color: gray;
    text-align: center;
  }
  &__button  {
    width: 15rem;
    margin: 6rem auto;
    padding: 1rem 3rem;
    background-color: gray;
    text-align: center;
  }

  &__skin  {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    &__button  {
      display: inline-block;
      width: 15rem;
      margin: 0rem 2rem;
      padding: 1rem 3rem;
      background-color: gray;
      text-align: center;
    }
  }
}
