.timer {
  position: absolute;
  top: 0;
  right: 0;
  width: 10rem;
  margin: 5px;
  background: #9c9c9c;
  text-align: center;
  &__value {
    display: inline-block;
    margin: 0.5rem;
    font-size: 2rem;
  }
}
