.timer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  width: 5rem;
  height: 5rem;
  background: #ad1131;
  border-radius: 10rem;
  &__value {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 2rem;
    line-height: 5rem;
    text-align: center;
  }
}
